.input-group-addon.border-span{
	border: 1px solid #66615b78;
}

.modal-margin-top{
	margin-top: 6%;
}

.remove{
	padding: 0;
	border: none;
	background: none;
}
.add{
	padding: 0;
	border: none;
	background: none;
	margin-top: 30px;
}

.table-produtos{
	margin-top: 20px;
}